@model ConvenienceMVC.Models.Views.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger"><code>@Model.Id </code>Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (!string.IsNullOrEmpty(Model.Path))
{
    <h3>Path:<code>@Model.Path</code></h3>
}

@if (!string.IsNullOrEmpty(Model.Error_Message))
{
    <h3>Error_Message</h3>
    <p>
        <code>@Model.Error_Message</code>
    </p>
}

